$bg-main: #fafafa;

$fade-color: #fafafa;

$teeter-line-color: #FF0000FF;

$teeter-bg: #c7c7c7;

$circle-bg: #ff7043;

$triangle-bg: #ffa726;

$rectangle-bg: #9ccc65;

$teeter-triangle-size: 100px;

$header-height: 35px;
